{% extends "auctions/layout.html" %}

{% block body %}

{% if errors %}
    <ul class = "alert alert-danger">

        {% for key, field in errors.items %}
            <li> {{ key }} : {{ field }}</li>

        {% endfor %}
    </ul>
{% endif %}

<h1>Create a Listing</h1>
<form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <input class ="form-control" type="text" name="title" placeholder="title">
        </div>
        <div class="form-group">
            <textarea class ="form-control" name="description" rows="4" cols="50" placeholder="type a description here"></textarea>
        </div>
        <div class="form-group"></div>
            <input class ="form-control" type="text" name="starting_bid" placeholder="starting bid">
        </div>
        <div class="form-group"></div>
            <input class ="form-control" type="text" name="image_url" placeholder="image url (optional)">
        </div>
        <div class="form-group"></div>
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
</form>

{% endblock %}