{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        <ul style="list-style-type: none; text-decoration:none;">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <li class="alert alert-success">{{ message }}</li>
                {% elif message.tags == 'error' %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

<h1>Create a Listing</h1>
<form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <input class ="form-control" type="text" name="title" placeholder="title">
        </div>
        <div class="form-group">
            <textarea class ="form-control" name="description" rows="4" cols="50" placeholder="type a description here"></textarea>
        </div>
        <div class="form-group">
            <input class ="form-control" name="category" placeholder="type a category">
        </div>
        <div class="form-group">
            <input class ="form-control" type="text" name="starting_bid" placeholder="starting bid">
        </div>
        <div class="form-group">
            <input class ="form-control" type="text" name="image_url" placeholder="image url (optional)">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
</form>

{% endblock %}